name: Graph Compiler build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  build:
    name: Build
    runs-on: [self-hosted]

    env:
      GH_TOKEN: ${{ github.token }}    

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          echo "Running build of graph compiler"
          scripts/compile.sh

      - name: Test
        run: |
          cmake --build build --target gc-check
