name: LLVM Build

on:
  workflow_dispatch:

permissions: read-all

jobs:
  build:
    name: Build
    runs-on: [self-hosted, 0.0.1]

    steps:
      - uses: actions/checkout@v4

      - name: Set LLVM hash
        run: |
          echo LLVM_HASH=$(cat cmake/llvm-version.txt) >>$GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          repository: llvm/llvm-project
          ref: ${{ env.LLVM_HASH }}

      - name: Build
        run: |
          python3 -m pip install -r mlir/python/requirements.txt
          mkdir llvm-install
          cmake -G Ninja llvm -B build -DCMAKE_INSTALL_PREFIX=llvm-install -DMLIR_ENABLE_BINDINGS_PYTHON=ON -DPython3_EXECUTABLE=$(which python3) \
            -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_ASSERTIONS=true -DLLVM_ENABLE_PROJECTS="mlir" -DLLVM_TARGETS_TO_BUILD="X86" -DLLVM_INSTALL_UTILS=true -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DLLVM_INSTALL_GTEST=ON
          cmake --build build --target install
          cd llvm-install
          tar -zcf ../llvm.tgz .

      - uses: actions/upload-artifact@v4
        with:
          name: llvm-${{ env.LLVM_HASH }}
          path: llvm.tgz


